@font-face {
  font-family: "iconfont"; /* Project id 2885999 */
  src: url('//at.alicdn.com/t/font_2885999_nrbp5hfv5m.woff2?t=1636456268942') format('woff2'),
       url('//at.alicdn.com/t/font_2885999_nrbp5hfv5m.woff?t=1636456268942') format('woff'),
       url('//at.alicdn.com/t/font_2885999_nrbp5hfv5m.ttf?t=1636456268942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-sudu:before {
  content: "\e619";
}

.icon-shengyinkai:before {
  content: "\e604";
}

.icon-fanhuidingbu:before {
  content: "\e64a";
}

.icon-duoyuyan:before {
  content: "\e62e";
}

.icon-fengge:before {
  content: "\e623";
}

.icon-pifuzhuti-xianxing:before {
  content: "\e91e";
}

.icon-changjing:before {
  content: "\e605";
}

.icon-qingganganqing:before {
  content: "\e628";
}

.icon-shangjiantou:before {
  content: "\eb6d";
}

.icon-shouqijiantouxiao:before {
  content: "\e892";
}

.icon-huangguan:before {
  content: "\e6a7";
}

.icon-geciweidianji:before {
  content: "\e727";
}

.icon-bofang02-xianxing:before {
  content: "\e68e";
}

.icon-bofang-xunhuanbofang:before {
  content: "\e68d";
}

.icon-bofang01-xianxing:before {
  content: "\e68f";
}

.icon-bofang-xiayige:before {
  content: "\e690";
}

.icon-quanping4-xianxing:before {
  content: "\e6e7";
}

.icon-shengyin02-xianxing:before {
  content: "\e6ea";
}

.icon-shengyin04-xianxing:before {
  content: "\e6eb";
}

.icon-liebiao1:before {
  content: "\e6e9";
}

.icon-quanping3-xianxing:before {
  content: "\e6e8";
}

.icon-bofang-xiayige-copy:before {
  content: "\e728";
}

.icon-shipin:before {
  content: "\e63b";
}

.icon-guangbo:before {
  content: "\e6ae";
}

.icon-zhiboguanli:before {
  content: "\e621";
}

.icon-yinle:before {
  content: "\e60d";
}

.icon-shouqianniuicon:before {
  content: "\e712";
}

.icon-erweima:before {
  content: "\e642";
}
